/*****************
* 页面样式
******************/

/*================
  基本样式
  ================*/

html {
    font-size: 625%; /*这时候一个rem=100px*/
    color: #222;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*================
  工具样式
  ================*/

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==============
   浏览器更新提示
   ==============*/

.browserupgrade {
    margin: 0rem;
    padding: 0.1rem;
    background: #ccc;
}

/*=============
  自定义页面样式
  =============*/

body {
    font-size: 0.12rem;
    line-height: 1.5;
    background-color: #fff;
}

a {
    color: #326331;
    text-decoration: none;
}

a:hover, a:active {
    color: #993333;
    text-decoration: underline;
}

/*外包容器*/

div.main {
    width: 10rem;
}

/*网站头部*/

header {
    width: 100%;
}

header .top .head_l {
    width: 35.6%;
    height: 1.04rem;
    float:left;
    background: url('../img/head_l.png') no-repeat;
}

header .top .head_r {
    width: 64.4%;
    height: 1.04rem;
    float: left;
    background: url('../img/head_r.png') no-repeat;
}

header .main {
    line-height: 0.26rem;
    padding: 0px 0.15rem;
    color: #fff;
    background: -webkit-linear-gradient(#42a042, #216420); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#42a042, #216420); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#42a042, #216420); /* Firefox 3.6 - 15 */
    background: linear-gradient(#42a042, #216420); /* 标准的语法（必须放在最后） */
    border-top: 1px solid #c4daa4;
    border-bottom: 1px solid #c4daa4;
    border-radius: 5px;
}

header .main ul {
    text-align: center;
}

header .main ul li {
    display: inline-block;
}

header .main ul li + li {
    border-left: 2px solid #2e4d29;
    margin-left: -7px;
}

header .main ul li a {
    display: inline-block;
    padding: 0 0.14rem;
    color: #ffffff;
}

header .main ul li a:hover, a:active {
    color: #993333;
    text-decoration: underline;
}

/*网站主要内容*/

.container {
    width: 100%;
}

/*上部*/

.content-top {
    width: 100%;
}

.content-top .left {
    width: 49%;
    display: block;
    float: left;
}

.content-top .left .xyxw-pic {
    display:block;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
}

.content-top .left .xyxw ul {
    display: block;
    float: left;
    max-width: 3rem;
}

.content-top .left .xyxw ul:first-child li {
    height: 0.22rem;
}

.content-top .left .xyxw ul:last-child li {
    padding: 3px 0 1px;
}

.content-top .left .xyxw ul a {
    display: inline-block;
    width: 2.84rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content-top .left .xyxw .li-pic {
    display: inline-block;
    width: 0.16rem;
    height: 0.22rem;
    padding: 0px;
    background: url('../img/li.gif') no-repeat;
}

.content-top .left .ksdl li {
    display: block;
    float: left;
}

.content-top .left .ksdl li a {
    display: inline-block;
    width: 0.80rem;
    height: 0.24rem;
}

.content-top .right {
    width: 51%;
    display: block;
    float: left;
}

.content-top .right .ad {
    display: block;
    width: 5.02rem;
    height: 2.55rem;
    border: 4px solid #386d14;
    background: url('../img/ad.png') no-repeat;
    margin-top: 3px;
}

/*中部及下部*/

.elem {
    width: 32.7%;
    height: 1.95rem;
    display: block;
    float: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

.content-middle .elem + .elem, .content-bottom .elem + .elem {
    margin-left: 0.00rem;
}

.elem .title {
    display: block;
    float:left;
    width: 0.79rem;
    height: 1.57rem;
}

.elem ul li {
    display: inline-block;
    width: 2.26rem;
    height: 0.22rem;
    margin-left: 5px;
    border-bottom: 1px solid #ccc;
}

.elem ul li a.more {
    text-align: right;
    float: right;
    text-decoration: underline;
}

/*中部*/

.content-middle {
    width: auto;
    display:block;
    margin: 8px 0 10px;
}

.content-middle .xyjd .xyjd-top img:nth-child(1) {
    width: 0.70rem;
    height: 0.70rem;
    display: block;
    float:left;
    border: 1px solid #ccc;
}

.content-middle .xyjd .xyjd-top img:nth-child(2) {
    width: 2.52rem;
    height: 0.70rem;
    display:block;
    float:left;
    border: 1px solid #ccc;
}

.content-middle .xyjd .xyjd-content p {
    text-indent: 2em;
    display: block;
    margin: 0px 2px;
}

.content-middle .rcpy .title {
    background: url('../img/rcpy-pic.jpg') no-repeat;
}

.content-middle .kyxs .title {
    background: url('../img/kyxs-pic.jpg') no-repeat;
}

/*下部*/

.content-bottom {
    display: block;
    margin-bottom: 10px;
}

.content-bottom .xydt .title {
    background: url('../img/xydt-pic.jpg') no-repeat;
}

.content-bottom .zsjy .title {
    background: url('../img/zsjy-pic.jpg') no-repeat;
}

.content-bottom .xxgg .title {
    background: url('../img/xxgg-pic.jpg') no-repeat;
}

/*底部*/

footer {
    width: 100%;
    padding: 0.03rem 0px 0px;
    background: url('../img/foot_b.jpg') repeat-x;
}

footer p {
    text-align: center;
    color: #808080;
}

footer p span {
    display: inline-block;
}

footer p span + span {
    margin-left: 0.3rem;
}
