/*****************
* 页面样式
******************/

/*================
  基本样式
  ================*/

html {
    font-size: 625%; /*这时候一个rem=100px*/
    color: #222;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*================
  工具样式
  ================*/

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==============
   浏览器更新提示
   ==============*/

.browserupgrade {
    margin: 0rem;
    padding: 0.1rem;
    background: #ccc;
}

/*=============
  自定义页面样式
  =============*/

body {
    font-size: 0.12rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #993333;
    text-decoration: underline;
}

/*外包容器*/

div.main {
    width: 10rem;
}

/*网站头部*/

header {
    width: 100%;
}

header .top .head_l {

}

header .top .head_r {

}

header .main {
    line-height: 0.26rem;
    padding: 0px 0.15rem;
    color: #fff;
    background: #368a36;
    border-top: 1px solid #c4daa4;
    border-bottom: 1px solid #c4daa4;
}

header .main ul {
    text-align: center;
}

header .main ul li {
    display: inline-block;
}

header .main ul li + li {
    border-left: 1px solid #2e4d29;
    margin-left: -6px;
}

header .main ul li a {
    display: inline-block;
    padding: 0 0.14rem;
    color: #ffffff;
}

header .main ul li a:hover, a:active {
    color: #993333;
    text-decoration: underline;
}

/*底部*/

footer {
    width: 100%;
    padding: 0.03rem 0px 0px;
    background: url('../img/foot_b.jpg') repeat-x;
}

footer p {
    text-align: center;
    color: #808080;
}

footer p span {
    display: inline-block;
}

footer p span + span {
    margin-left: 0.3rem;
}
